table {
	background: background: rgb(137,145,154);
background: linear-gradient(90deg, rgba(137,145,154,1) 0%, rgba(113,123,154,0.5660377358490566) 95%);
}

body {

	background:background: rgb(83,83,97);
background: linear-gradient(90deg, rgba(83,83,97,1) 11%, rgba(7,28,32,1) 87%); ;
}